<h2>Product Order System</h2>

<!--Interpolation-->
<h3>{{ productName }}</h3>
<p>Price: ₹{{ price }}</p>

<!--Property Binding-->
<img [src]="imageUrl" width="200">

<br><br>

<!--Event Binding-->
<button (click)="increaseQuantity()">Increase Quantity</button>
<button (click)="decreaseQuantity()">Decrease Quantity</button>

<p>Quantity: {{ quantity }}</p>

<br>

<!--Property + Event-->
<button [disabled]="!isAvailable" (click)="toggleAvailability()">
  {{ isAvailable ? 'In Stock' : 'Out of Stock' }}
</button>

<br><br>

<!--Two-way Binding-->
<h1>Customer Details</h1>
<input type="text" [(ngModel)]="customerName" placeholder="Enter name">

<br><br>
<textarea [(ngModel)]="address" placeholder="Enter address"></textarea>

<br><br>

<!--Interpolation Output-->
<h3>Order Summary</h3>

<p>Name: {{ customerName }}</p>
<p>Address: {{ address }}</p>
<p>Total Amount: ₹{{ getTotal() }}</p>


